parameters:
	ignoreErrors:
		-
			message: '#^Variable \$id in isset\(\) always exists and is not nullable\.$#'
			identifier: isset.variable
			count: 2
			path: admin/modules/banners/includes/class-template.php

		-
			message: '#^Variable \$presets in isset\(\) always exists and is not nullable\.$#'
			identifier: isset.variable
			count: 1
			path: admin/modules/banners/includes/class-template.php

		-
			message: '#^Variable \$templates in isset\(\) always exists and is not nullable\.$#'
			identifier: isset.variable
			count: 1
			path: admin/modules/banners/includes/class-template.php

		-
			message: '#^Variable \$item_data in isset\(\) always exists and is not nullable\.$#'
			identifier: isset.variable
			count: 1
			path: admin/modules/cookies/api/class-api-controller.php

		-
			message: '#^Variable \$id in isset\(\) always exists and is not nullable\.$#'
			identifier: isset.variable
			count: 1
			path: admin/modules/cookies/includes/class-category-controller.php

		-
			message: '#^Variable \$parts in empty\(\) always exists and is not falsy\.$#'
			identifier: empty.variable
			count: 1
			path: admin/modules/scanner/includes/class-controller.php

		-
			message: '#^Variable \$id in isset\(\) always exists and is not nullable\.$#'
			identifier: isset.variable
			count: 1
			path: includes/class-base-controller.php

		-
			message: '#^Variable \$file_system in isset\(\) always exists and is not nullable\.$#'
			identifier: isset.variable
			count: 1
			path: includes/class-filesystem.php
